In [ ]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTROTONEURALNETWORKS/3 INTROTOTENSORFLOW/INTROTONEURALNETWORKS INTROTOTENSORFLOW 1 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [1]:
# =================================================-
#### Slide 12: Load TensorFlow for Python  ####

# Import tensorflow.
import tensorflow as tf


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################

In [ ]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTROTONEURALNETWORKS/3 INTROTOTENSORFLOW/INTROTONEURALNETWORKS INTROTOTENSORFLOW 2 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [7]:
# =================================================-
#### Slide 5: Loading packages  ####

import os
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import seaborn as sns

# Scikit-learn packages.
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics

# TensorFlow and supporting packages.
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import load_model
from tensorflow.keras.optimizers import Adam

In [ ]:
# =================================================-
#### Slide 6: Directory settings  ####

# Set 'main_dir' to location of the project folder
# from pathlib import Path

# home_dir = Path(".").resolve()
# main_dir = home_dir.parent.parent
# print(main_dir)
# data_dir = str(main_dir) + "/data"
# print(data_dir)

In [ ]:
# =================================================-
#### Slide 7: Load the data  ####

# credit_card = pd.read_csv(str(data_dir) + "/credit_card_data.csv")
# print(credit_card.head())

In [8]:
from pathlib import Path

data_dir = Path.cwd().parent.parent / "data"
credit_card = pd.read_csv(data_dir / "credit_card_data.csv")
credit_card.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [9]:
# =================================================-
#### Slide 11: Data prep: convenience function (cont'd)  ####


def data_prep(df):
    df = pd.get_dummies(
        df.fillna(df.mean()).set_index("ID"),
        columns=["SEX", "EDUCATION", "MARRIAGE"],
        drop_first=True,
    )
    X = df.drop(["default_payment_next_month"], axis=1)
    y = df["default_payment_next_month"]
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=1
    )
    min_max_scaler = preprocessing.MinMaxScaler()
    return (
        min_max_scaler.fit_transform(X_train),
        min_max_scaler.transform(X_test),
        y_train,
        y_test,
    )

In [10]:
# =================================================-
#### Slide 12: Data prep  ####

X_train_scaled, X_test_scaled, y_train, y_test = data_prep(credit_card)

In [14]:
# =================================================-
#### Slide 16: Implement Sequential model with Dense layers  ####

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

# Let's set the seed so that we can reproduce the results.
tf.random.set_seed(1)

## Set up model.
model = Sequential(
    [
    Dense(32, input_shape=(X_train_scaled.shape[1],)),
    Dense(20, activation="relu"),
        Dense(1, activation="sigmoid"),
    ]
)

In [ ]:
# =================================================-
#### Slide 17: Compile the model  ####

# Compile the model.
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [ ]:
# =================================================-
#### Slide 18: Fit the model  ####

model_res = model.fit(
    X_train_scaled,
    y_train,  # <- train data and labels
    validation_split=,  # <- pass val data
    epochs=200,
)  # <- number of epochs

In [ ]:
# =================================================-
#### Slide 21: Visualize training/validation accuracy for each epoch  ####

# Plot training & validation accuracy values
plt.plot(model_res.history["accuracy"])  # <- accuracy scores
plt.plot(
    model_res.history["val_accuracy"]
)  # <- get val accuracy scores from dictionary
plt.title("Model accuracy")
plt.ylabel("Accuracy")
plt.xlabel("Epoch")
plt.legend(["Train", "Val"], loc="upper left")
plt.show()

In [ ]:
# =================================================-
#### Slide 22: Visualize training/validation loss for each epoch  ####

# Plot training & validation loss values
plt.plot(model_res.history["loss"])
plt.plot(model_res.history["val_loss"])
plt.title("Model loss")
plt.ylabel("Loss")
plt.xlabel("Epoch")
plt.legend(["Train", "Val"], loc="upper left")
plt.show()

In [ ]:
# =================================================-
#### Slide 23: Evaluate loss, accuracy on test data and predict  ####

loss, accuracy = model.evaluate(x=X_test_scaled, y=y_test)
print("Loss: {0:6.3f}, Accuracy: {1:6.3f}".format(loss, accuracy))
y_pred_prob = model.predict(X_test_scaled)
y_pred = (model.predict(X_test_scaled) > 0.5).astype("int32")
print(y_pred)

In [ ]:
# =================================================-
#### Slide 25: Exercise  ####


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################