In [ ]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTROTONEURALNETWORKS/2 BUILDINGNEURALNETWORKS/INTROTONEURALNETWORKS BUILDINGNEURALNETWORKS 1 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [4]:
# =================================================-
#### Slide 5: Directory settings  ####

# Set 'main_dir' to location of the project folder
from pathlib import Path

home_dir = Path(".").resolve()
main_dir = home_dir.parent.parent
print(main_dir)
data_dir = str(main_dir) + "/data"
print(data_dir)

/Users/maptv/maptv/IntrotoNeural_Networks
/Users/maptv/maptv/IntrotoNeural_Networks/data

In [11]:
from pathlib import Path
data_dir = Path.cwd().parent.parent / "data"

In [12]:
data_dir.exists()

True

In [13]:
# =================================================-
#### Slide 6: Loading packages  ####

# Helper packages.
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pickle
from textwrap import wrap

# Scikit-learn package for building a perceptron.
from sklearn.neural_network import MLPClassifier

# Scikit-learn package for data preprocessing.
from sklearn.preprocessing import MinMaxScaler

# Model set up, tuning and model metrics packages.
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

/var/folders/0k/09bdrlmx63qf4jwt8dw7nrvc0000gn/T/ipykernel_32682/1651920175.py:8: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [23]:
# =================================================-
#### Slide 7: Load the data  ####

from pathlib import Path
data_dir = Path.cwd().parent.parent / "data"
credit_card = pd.read_csv(data_dir / "credit_card_data.csv")
credit_card.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [24]:
# =================================================-
#### Slide 9: Data at first glance  ####

# The data types.
credit_card.dtypes

ID                              int64
LIMIT_BAL                       int64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                       int64
BILL_AMT3                       int64
BILL_AMT4                       int64
BILL_AMT5                       int64
BILL_AMT6                       int64
PAY_AMT1                        int64
PAY_AMT2                        int64
PAY_AMT3                        int64
PAY_AMT4                        int64
PAY_AMT5                        int64
PAY_AMT6                        int64
default_payment_next_month      int64
dtype: object

In [25]:
# =================================================-
#### Slide 10: Check for NAs in the dataset  ####

# Check for NAs.
credit_card.isna().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     1
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default_payment_next_month    0
dtype: int64

In [26]:
# =================================================-
#### Slide 11: Using fillna() to handle missing values  ####

# Fill missing values with mean
credit_card = credit_card.fillna(credit_card.mean())
# Check for NAs in 'BILL_AMT1'.

In [27]:
credit_card.isna().sum()["BILL_AMT1"]

0

In [28]:
# Drop an unnecessary identifier column.
credit_card = credit_card.set_index("ID")
credit_card.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [31]:
credit_card.loc[:, credit_card.columns.str.startswith("SEX")]

       SEX_2
ID
1       True
2       True
3       True
4       True
5      False
...      ...
29996  False
29997  False
29998  False
29999  False
30000  False

[30000 rows x 1 columns]

In [37]:
credit_card.loc[:, credit_card.columns.str.startswith("SEX")]

       SEX_2
ID
1       True
2       True
3       True
4       True
5      False
...      ...
29996  False
29997  False
29998  False
29999  False
30000  False

[30000 rows x 1 columns]

In [36]:
credit_card.loc[:, credit_card.columns.str.startswith("AGE")].nunique()

AGE    56
dtype: int64

In [29]:
# =================================================-
#### Slide 15: Transform and replace categorical variables  ####

# Convert 'sex' into dummy variables.
credit_card = pd.get_dummies(
    credit_card,
    columns=["SEX", "EDUCATION", "MARRIAGE"],
    drop_first=True,
)
credit_card.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,SEX_2,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_1,MARRIAGE_2,MARRIAGE_3
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,24,2,2,-1,-1,-2,-2,3913.0,3102,...,True,False,True,False,False,False,False,True,False,False
2,120000,26,-1,2,0,0,0,2,2682.0,1725,...,True,False,True,False,False,False,False,False,True,False
3,90000,34,0,0,0,0,0,0,29239.0,14027,...,True,False,True,False,False,False,False,False,True,False
4,50000,37,0,0,0,0,0,0,46990.0,48233,...,True,False,True,False,False,False,False,True,False,False
5,50000,57,-1,0,-1,0,0,0,8617.0,5670,...,False,False,True,False,False,False,False,True,False,False

In [38]:
# =================================================-
#### Slide 16: Data prep: split  ####

# Separate predictors from data.
X = credit_card.drop(["default_payment_next_month"], axis=1)

In [39]:
# Separate target from data.
y = credit_card["default_payment_next_month"]
# Split data into train and test set, use a 70 - 30 split.
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

print("Train shape:", X_train.shape, "Test shape:", X_test.shape)

Train shape: (21000, 30) Test shape: (9000, 30)

In [43]:
# =================================================-
#### Slide 17: Data prep: scale with MinMaxScaler  ####

# Transforms each feature to a given range.
# The default is the range between 0 and 1.
min_max_scaler = preprocessing.MinMaxScaler()
X_train_scaled = min_max_scaler.fit_transform(X_train)
X_test_scaled = min_max_scaler.transform(X_test)


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################

In [ ]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTROTONEURALNETWORKS/2 BUILDINGNEURALNETWORKS/INTROTONEURALNETWORKS BUILDINGNEURALNETWORKS 2 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [49]:
# =================================================-
#### Slide 2: Build the model architecture  ####

# Build neural network model
nn = MLPClassifier(
    hidden_layer_sizes=(64), random_state=1, solver="lbfgs", max_iter=20000,
)

In [50]:
# =================================================-
#### Slide 3: Fit the model to training data  ####

# Fit the saved model to your training data.
nn.fit(X_train_scaled, y_train)

In [56]:
# =================================================-
#### Slide 4: Inspect accuracy of training model  ####

# Compute accuracy using training data.
acc_train_nn = nn.score(X_train_scaled, y_train)
print("Train Accuracy:", acc_train_nn)

Train Accuracy: 0.8465238095238096

In [53]:
y.value_counts(normalize=True)

default_payment_next_month
0    0.7788
1    0.2212
Name: proportion, dtype: float64

In [ ]:
# =================================================-
#### Slide 10: Predict on test data  ####

# Predict on test data.
predicted_values_nn = nn.predict(X_test_scaled)
print(predicted_values_nn)

# Compute test model accuracy score.
test_accuracy_score = metrics.accuracy_score(y_test, predicted_values_nn)
print("Accuracy on test data: ", test_accuracy_score)

In [ ]:
# =================================================-
#### Slide 11: Confusion matrix   ####

# Take a look at test data confusion matrix.
conf_matrix_test = metrics.confusion_matrix(y_test, predicted_values_nn)
print(conf_matrix_test)

In [ ]:
# =================================================-
#### Slide 19: Classification report  ####

# Create a list of target names to interpret class assignments.
target_names = ["default_payment_0", "default_payment_1"]
# Print an entire classification report.
class_report = metrics.classification_report(
    y_test, predicted_values_nn, target_names=target_names
)
print(class_report)

In [ ]:
# =================================================-
#### Slide 22: Getting probabilities instead of class labels  ####

# Get probabilities instead of predicted values.
test_probabilities = fit_nn.predict_proba(X_test_scaled)

# Get probabilities of test predictions only.
test_predictions = test_probabilities[:, 1]

In [ ]:
# =================================================-
#### Slide 23: Computing FPR, TPR, and threshold  ####

# Get FPR, TPR, and threshold values.
fpr, tpr, threshold = metrics.roc_curve(
    y_test, test_predictions  # <- test data labels
)  # <- predicted probabilities
print("False positive: ", fpr)
print("True positive: ", tpr)
print("Threshold: ", threshold)

In [ ]:
# =================================================-
#### Slide 24: Computing AUC  ####

# Get AUC by providing the FPR and TPR.
auc = metrics.auc(fpr, tpr)
print("Area under the ROC curve: ", auc)

In [ ]:
# =================================================-
#### Slide 25: Putting it all together: ROC plot  ####

# Make an ROC curve plot.
plt.title("Receiver Operator Characteristic")
plt.plot(fpr, tpr, "b", label="AUC = %0.2f" % auc)
plt.legend(loc="lower right")
plt.plot([0, 1], [0, 1], "r--")
plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.show()

In [ ]:
# =================================================-
#### Slide 26: Putting it all together: ROC plot (cont'd)  ####

# Make an ROC curve plot.
plt.title("Receiver Operator Characteristic")
plt.plot(fpr, tpr, "b", label="AUC = %0.2f" % auc)
plt.legend(loc="lower right")
plt.plot([0, 1], [0, 1], "r--")
plt.xlabel("False Positive Rate")
plt.ylabel("True Positive Rate")
plt.show()


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################

In [ ]:
#######################################################
#######################################################
############    COPYRIGHT - DATA SOCIETY   ############
#######################################################
#######################################################

## INTROTONEURALNETWORKS/2 BUILDINGNEURALNETWORKS/INTROTONEURALNETWORKS BUILDINGNEURALNETWORKS 3 ##

## NOTE: To run individual pieces of code, select the line of code and
##       press ctrl + enter for PCs or command + enter for Macs

In [ ]:
# =================================================-
#### Slide 12: Fitting & visualizing training history: accuracy   ####

N_EPOCHS = 25  # <- number of epochs
N_CLASSES = np.unique(y_train)  # <- number of classes in the target variable

# Build neural network model by creating a classifier:
# add the number of hidden neurons in the 1st hidden layer and set random state.
mlp = MLPClassifier(hidden_layer_sizes=(64), random_state=1)

scores_train = []  # <- we will store scores for training history here
scores_test = []  # <- we will store scores for testing history here

epoch = 0  # <- set epoch count
while epoch < N_EPOCHS:
    mlp_fit = mlp.partial_fit(X_train_scaled, y_train, classes=N_CLASSES)

    # Compute score for train data.
    scores_train.append(mlp.score(X_train_scaled, y_train))

    # Compute score for test data.
    scores_test.append(mlp.score(X_test_scaled, y_test))
    epoch += 1  # <- increment the epoch

In [ ]:
# =================================================-
#### Slide 13: Inspect model accuracy and loss  ####

plt.plot(scores_train, color="green", alpha=0.8, label="Train")
plt.plot(scores_test, color="magenta", alpha=0.8, label="Test")
plt.title("Accuracy over epochs", fontsize=14)
plt.xlabel("Epochs")
plt.legend(loc="upper left")
plt.show()
plt.plot(mlp.loss_curve_)
plt.title("Loss over epochs", fontsize=14)
plt.ylabel("Loss")
plt.xlabel("Epochs")
plt.show()

In [ ]:
# =================================================-
#### Slide 14: Inspect model accuracy and loss (cont'd)  ####

plt.plot(scores_train, color="green", alpha=0.8, label="Train")
plt.plot(scores_test, color="magenta", alpha=0.8, label="Test")
plt.title("Accuracy over epochs", fontsize=14)
plt.xlabel("Epochs")
plt.legend(loc="upper left")
plt.show()

In [ ]:
# =================================================-
#### Slide 17: Class-imbalanced dataset challenges  ####

print(credit_card["default_payment_next_month"].value_counts())

In [ ]:
# =================================================-
#### Slide 20: Balancing target with SMOTE (cont'd)  ####

from imblearn.over_sampling import SMOTE

# Let's initialize SMOTE object.
smote = SMOTE()

# We can now fit the sampling method to our train data and labels.
X_train_sm, y_train_sm = smote.fit_resample(X_train_scaled, y_train)
print(y_train_sm.value_counts())

In [ ]:
# =================================================-
#### Slide 23: Exercise  ####


#######################################################
####  CONGRATULATIONS ON COMPLETING THIS MODULE!   ####
#######################################################